<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <title>{% block title %}{% endblock %} - DjangoBanguero</title>
</head>
<body>
<h1>Bienvenido al chat web</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Django mi bro</a>
</nav>
<div class="container mt-3">
    {% block content %}{% endblock %}
</div>
</body>
</html>
